

@media screen and (max-width: 425px) { 
    .phragraphe-contact{
        font-size: 15px;
    }
    .acroche-formule{
        font-size: 15px;
        font-family: Quicksand, sans-serif;
    }
    .video-pageContact{
        display: flex;
        width: 75%;
        padding-top: 25%;
      
    }
    .wrap-title-formule{
        
        font-size: 23px;
       
    }
    
    .titre-formule{
        padding-bottom: 3px;
        font-family: Quicksand, sans-serif;
        font-size: 16px;
    }
    
    .sous-titre-formule{
        font-size: 15px;    
    }
    ul li{
        font-size: 14px;
    
    }
    .lien-tel{
        color: #cfcfcf;
        text-decoration: none;
        display: flex;
        font-size: 25px;
        border: 1px solid black;
        box-shadow: 2px 3px 3px rgb(122 112 112 / 50%);
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: rgb(122 112 112 / 50%);
        align-items: center;
    }
    h1{
        font-size: 20px;
    
    }
    .lien-fomu{
        font-size: 19px;
        padding: 1%;
    }
    .nav-toggler{
        width: 35px;
        right: 9px;
    }
    .lien-te-permanet{
        
        right: 85%;
        top: 30px;
        font-size: 30px;
    }
    .art{

        font-size: 17px;
    }
    
    .lien-mail{
        font-size: 18px;
        margin-top: 10px;
        
    }
    .lien-tel{
        margin-top: 10px;
    }
    .pop-photo{
        width: 70%;

    }
 
    .lien-te-permanet{
        display: flex;
        right: 85%;
        top: 35px;
        font-size: 25px;
    }
    nav a {
        font-family: Quicksand, sans-serif;
        color: black;
        font-size: 20px;
        display: block;
        margin: 10px 0;
        text-decoration: none;
       
    }
 }
 
 @media screen and (max-width: 369px) {

    .video-pageContact{
        display: flex;
        width: 75%;
        padding-top: 35%;
      
    }
    .lien-tel{
        color: #cfcfcf;
        text-decoration: none;
        display: flex;
        font-size: 25px;
        border: 1px solid black;
        box-shadow: 2px 3px 3px rgb(122 112 112 / 50%);
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: rgb(122 112 112 / 50%);
        align-items: center;
    }
    .trop-long{
        font-size: 16px;
    }
    .nav-toggler{
        width: 25px;
        right: 9px;
    }
   
    .lien-te-permanet{
        display: flex;
        right: 85%;
        top: 35px;
        font-size: 25px;
    }
    nav a {
        font-family: Quicksand, sans-serif;
        color: black;
        font-size: 20px;
        display: block;
        margin: 10px 0;
        text-decoration: none;
       
    }
 

 }

/* media query mode paysage portble */

@media screen and (orientation: landscape) and (max-height: 425px) {


    .lien-tel{
        color: #cfcfcf;
        text-decoration: none;
        display: flex;
        font-size: 25px;
        border: 1px solid black;
        box-shadow: 2px 3px 3px rgb(122 112 112 / 50%);
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: rgb(122 112 112 / 50%);
        align-items: center;
    }
    .acroche-formule{
        font-size: 13px;
    }
    .wrap{
        height: 100%;
    }
}
.wrap-title-formule{
    
    font-size: 23px;
   
}

.titre-formule{
    padding-bottom: 3px;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
}

.sous-titre-formule{
    font-size: 15px;    
}
ul li{
    font-size: 14px;

}
    h1{
        
        font-size: 25px;
    }
    .lien-te-permanet{
        display: flex;
        right: 85%;
        top: 35px;
        font-size: 25px;
    }
    

    .video-podcast{
        width: 75%;
        height: 100vh;
    }
    .pop-photo{
        width: 165px;
    }

    .nav-toggler{
        right: 15px;
    }
    .carte-paris{
        width: 50%;
    }

    nav a {
        font-family: Quicksand, sans-serif;
        color: black;
        font-size: 20px;
        display: block;
        margin: 10px 0;
        text-decoration: none;
       
    }
    .lien-mail{
        color: #cfcfcf;
        text-decoration: none;
        display: flex;
        font-size: 25px;
        border: 1px solid black;
        box-shadow: 2px 3px 3px rgb(122 112 112 / 50%);
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: rgb(122 112 112 / 50%);
      
     }
     
    /* Styles à appliquer aux appareils en mode paysage avec une hauteur minimale de 500 pixels */
  }
  /* style pour les tres gend ecran  */
  @media screen and (min-width: 1268px){

    .lien-mail{
        color: #cfcfcf;
        text-decoration: none;
        display: flex;
        font-size: 25px;
        border: 1px solid black;
        box-shadow: 2px 3px 3px rgb(122 112 112 / 50%);
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: rgb(122 112 112 / 50%);
      
     }
     
    .lien-tel{
        color: #cfcfcf;
        text-decoration: none;
        display: none;
        font-size: 25px;
        border: 1px solid black;
        box-shadow: 2px 3px 3px rgb(122 112 112 / 50%);
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: rgb(122 112 112 / 50%);
        align-items: center;
    }
  
    .wrap{
        height: 100%;
    }

    nav a {
    font-family: Quicksand, sans-serif;
    color: black;
    font-size: 50px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
   
}
  

}